wp-content/uploads/
wp-content/uploads
wp-content/uploads/2017/12
wp-config.php
wp-content/uploads
wp-content/plugins
wp-content/cache
wp-content/w3tc-config/
wp-content/advanced-cache.php
wp-config-sample.php
.sass-cache
node_modules
.DS_Store
src/scss/.sass-cache
package-lock.json
images/