@import "./navbar-custom";


body, html {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Nunito', 'Open Sans', 'Roboto', sans-serif;
    background-color: #f6f6f7;
    font-size: 16px;
}
// a:link, a:visited {
//     text-decoration: none;
// }

// .top-header {
//     background-color: #282b36;
//     z-index: 1;
//     height: 80px;
    // position: absolute;
    // z-index: 1;
    // top: 0;
    // width: 100%;
//     box-shadow: 0 2px 10px rgba(0,0,0,.1);
// }
// .header-main {
//     background: linear-gradient(62deg,#3c4556,#282a36);
//     color: #f6f6f7;
// }
// .topbar a:visited {
//     color: #f7f5f5;
// }
// #main-content {
//     margin-top: 80px;
// }
// .nav-container {
//     max-width: 1200px;
//     margin: 0 auto;
// }
// .topbar {
//     // display: grid;
//     // grid-template-columns: 1fr 1fr 1fr 1fr;
// }
.topbar a {
    height: 80px;
    color: #f6f6f7;
    font-size: 1.1rem;
}
/* .topbar a:hover {
    background-color: rgba(0, 0, 0,0.5);
} */
// .topbar a:hover {
//     background-color: rgba(0, 0, 0,0.3);
//     // border-bottom: 3px solid #5eeda3;
//     color: #5eeda3;
// }
// .topbar a:hover span {
//   color: white;
// }