
@import "./bulma-custom";


// .topbar a {
//     height: 80px;
//     color: #f6f6f7;
//     font-size: 1.1rem;
// }
#main-content {

}

.column > .box {
    height: 100%;
}

article a {
    display: block;
    text-align: center;
    width: 100%;
}

article p {
    // text-align: center
}

.article-section {
    background-color: #f8f8f9;
}


// .tutorials.current i,.tutorials:hover i {
//     color: #4cbbf9
// }

// .snippets.current i,.snippets:hover i {
//     color: #5eeda3
// }

// .about.current i,.about:hover i {
//     color: #fdb54b
// }

// .current-menu-item {
//     color: red;
//     border-color: red;
// }
// .current_page_item {
//     //Pouvoir changer la couleur de l'îcone dans l'interface menu,
// }
