
@import "./bulma-custom";

#main-content {
    grid-area: main;
}

.template {
    display: grid;
    grid-template-areas:
        "header"
        "hero"
        "main"
        "footer"
}

::selection {
    background: rgba(255,245,20,.8);
    color: #111;
}
@include mobile {
    .article-container {
        .title {
            text-align: center;
        }
    }
}
