.main-header {
    background: linear-gradient(62deg,#3c4556, $nav-bg);
    color: rgb(155, 151, 151);
    // width: 100%;
    //  .header-left{

    //  }
    //  .header-right{

    //  }
     .title{
         color: #fff;
         font-size: 3em;
     }
}
