$nav-bg: $blue-dark;
$navbar-background-color: $blue-dark;
// @import "../../../node_modules/bulma/sass/components/navbar.sass";


.main-nav {
    background-color: $nav-bg;
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
}

.nav-container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 80% 20%;
}
.main-navigation {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: no-wrap;
}

.main-navigation li {
    display: flex;
    height: 80px;
    width: 100%;
    font-size: 1.1rem;
    a {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        // display: block;
        height: 100%;
        color: $grey-light;
        &:hover {
            svg {
                    color:  #5eeda3;
                }
            i {
                color:  #5eeda3;
            }
        }
    }
}

.nav-form-search {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.nav-form-search-input {
    height: 100%;
    min-width: 130px;
    background-color: lighten($nav-bg, 10%);
    border: none;
    text-align: center;
    color: $white;
    font-size: 1.1rem;
    &:active,
    &:focus,
    &:hover {
        border-style: none;
        border: none;
        outline: none;
        background-color: lighten($nav-bg, 13%);
    }
}

.nav-form-search-submit {
    color: $white;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.1rem;

}

/* .main-navigation a:hover {
    background-color: rgba(0, 0, 0,0.5);
} */
.main-navigation li:hover {
    background-color: rgba(0, 0, 0,0.3);
/*     border-bottom: 3px solid #5eeda3; */
    color: #5eeda3;
    max-height:77px;
}
.main-navigation a:hover {
  color: $white;
}

























